* {
    margin: 0;
    padding: 0;
}

.cabeçalho {
background-color:#7b7dd1 ;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    display: flex;
}

.cabeçalho-div {
display: flex;

}

.pergunta {
background-image: linear-gradient(#00e1ff73, #3ebadf59);
padding: 20mm;
color: #ffffff;
display: flex;
justify-content: center;

}

.download-jpeg{
width: 5%;

}
.BzVene {
background-image: linear-gradient(#0000);
padding: 30mm;
color: #ffffff;
display: flex justfy-contente center;

}
.pergunta {
background-image: linear-gradient(#7b7dd1, #3edfa128);
color: #ffffff;

}
.BzVene {
background-image: linear-gradient(#eb85da, #6eecfd);
color: #3edfa128;

}
.cabeçalho-imagemb {
    width: 10%;

}
.cabeçalho-div {
display: flex;

}
.cabeçalho-item {
    padding: 0% 20px;
}

.imagmaauroraboreal{
    width: 20%;
}   